In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("dataseries.xlsx",sheet_name="main")
df["type"] = df["type"].replace({"BEST_OF_FIVE":"bo5","BEST_OF_TWO":"bo2","BEST_OF_THREE":"bo3","BEST_OF_ONE":"bo1"})
df.head()

,serieId,type,leagueName,lastMatchDateTime,teamOneWinCount,teamTwoWinCount,winningTeamId,winningTeamName,teamOneId,teamOneName,teamTwoId,teamTwoName
0,790666,bo5,The Bali Major,2023-07-09 12:43:42,3,1,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,2163,Team Liquid
1,790637,bo3,The Bali Major,2023-07-09 04:56:20,2,0,2163,Team Liquid,2163,Team Liquid,8291895,Tundra Esports
2,790458,bo3,The Bali Major,2023-07-08 14:09:01,1,2,2163,Team Liquid,8894818,Quest Esports,2163,Team Liquid
3,790441,bo3,The Bali Major,2023-07-08 09:52:09,2,0,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,8291895,Tundra Esports
4,790432,bo3,The Bali Major,2023-07-08 06:50:56,2,0,8894818,Quest Esports,8894818,Quest Esports,15,PSG.LGD

In [4]:
dfTeam1 = df.copy().rename(columns={"teamOneId":"teamId","teamOneName":"teamName","teamTwoId":"enemyId","teamTwoName":"enemyName","teamOneWinCount":"teamWinCount","teamTwoWinCount":"enemyWinCount"})
dfTeam2 = df.copy().rename(columns={"teamTwoId":"teamId","teamTwoName":"teamName","teamOneId":"enemyId","teamOneName":"enemyName","teamOneWinCount":"enemyWinCount","teamTwoWinCount":"teamWinCount"})

df2 = pd.concat([dfTeam1,dfTeam2],ignore_index=True)
df2

,serieId,type,leagueName,lastMatchDateTime,teamWinCount,enemyWinCount,winningTeamId,winningTeamName,teamId,teamName,enemyId,enemyName
0,790666,bo5,The Bali Major,2023-07-09 12:43:42,3,1,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,2163,Team Liquid
1,790637,bo3,The Bali Major,2023-07-09 04:56:20,2,0,2163,Team Liquid,2163,Team Liquid,8291895,Tundra Esports
2,790458,bo3,The Bali Major,2023-07-08 14:09:01,1,2,2163,Team Liquid,8894818,Quest Esports,2163,Team Liquid
3,790441,bo3,The Bali Major,2023-07-08 09:52:09,2,0,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,8291895,Tundra Esports
4,790432,bo3,The Bali Major,2023-07-08 06:50:56,2,0,8894818,Quest Esports,8894818,Quest Esports,15,PSG.LGD
...,...,...,...,...,...,...,...,...,...,...,...,...
1101,786535,bo3,Riyadh Masters 2023,2023-06-22 18:07:50,2,1,8894818,Quest Esports,8894818,Quest Esports,7554697,Nigma Galaxy
1102,786536,bo3,Riyadh Masters 2023,2023-06-22 15:38:05,0,2,1838315,Team Secret,9114743,dota enjoyer,1838315,Team Secret
1103,786489,bo3,Riyadh Masters 2023,2023-06-22 12:49:52,0,2,7554697,Nigma Galaxy,1838315,Team Secret,7554697,Nigma Galaxy
1104,786490,bo3,Riyadh Masters 2023,2023-06-22 12:13:02,0,2,8894818,Quest Esports,9114743,dota enjoyer,8894818,Quest Esports
1105,785770,bo3,Riyadh Masters 2023,2023-06-19 13:52:23,0,2,1838315,Team Secret,9080826,Twisted Minds,1838315,Team Secret

In [5]:
df2["serieResult"] = df2.apply(lambda x : "draw" if x["winningTeamId"] == 0 else ("win" if x["winningTeamId"] == x["teamId"] else "lose"), axis= 1)
df2

,serieId,type,leagueName,lastMatchDateTime,teamWinCount,enemyWinCount,winningTeamId,winningTeamName,teamId,teamName,enemyId,enemyName,serieResult
0,790666,bo5,The Bali Major,2023-07-09 12:43:42,3,1,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,2163,Team Liquid,win
1,790637,bo3,The Bali Major,2023-07-09 04:56:20,2,0,2163,Team Liquid,2163,Team Liquid,8291895,Tundra Esports,win
2,790458,bo3,The Bali Major,2023-07-08 14:09:01,1,2,2163,Team Liquid,8894818,Quest Esports,2163,Team Liquid,lose
3,790441,bo3,The Bali Major,2023-07-08 09:52:09,2,0,8599101,Gaimin Gladiators,8599101,Gaimin Gladiators,8291895,Tundra Esports,win
4,790432,bo3,The Bali Major,2023-07-08 06:50:56,2,0,8894818,Quest Esports,8894818,Quest Esports,15,PSG.LGD,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,786535,bo3,Riyadh Masters 2023,2023-06-22 18:07:50,2,1,8894818,Quest Esports,8894818,Quest Esports,7554697,Nigma Galaxy,win
1102,786536,bo3,Riyadh Masters 2023,2023-06-22 15:38:05,0,2,1838315,Team Secret,9114743,dota enjoyer,1838315,Team Secret,lose
1103,786489,bo3,Riyadh Masters 2023,2023-06-22 12:49:52,0,2,7554697,Nigma Galaxy,1838315,Team Secret,7554697,Nigma Galaxy,lose
1104,786490,bo3,Riyadh Masters 2023,2023-06-22 12:13:02,0,2,8894818,Quest Esports,9114743,dota enjoyer,8894818,Quest Esports,lose
1105,785770,bo3,Riyadh Masters 2023,2023-06-19 13:52:23,0,2,1838315,Team Secret,9080826,Twisted Minds,1838315,Team Secret,lose

In [7]:
df2["teamName"] = df2["teamName"].replace({"BB Team":"BetBoom Team"})

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")

In [9]:
teams = df2["teamName"].unique()
teams

array(['Gaimin Gladiators', 'Team Liquid', 'Quest Esports',
       'Tundra Esports', 'beastcoast', 'Azure Ray', 'Team Aster',
       'BetBoom Team', 'PSG.LGD', 'Shopify Rebellion', 'BLEED',
       'Blacklist Rivalry ', 'Team Spirit', 'Evil Geniuses',
       'INVICTUS GAMING', 'Execration', 'nouns', '9Pandas', 'Talon',
       'Team Secret', 'Entity', 'TSM', 'OG', 'Xtreme Gaming', 'Team SMG',
       'Nigma Galaxy', 'Geek Slate', 'Antarctic Penguins', 'EHOME',
       'Virtus.pro', 'dota enjoyer', 'Twisted Minds'], dtype=object)

In [10]:
def generateChart(team):
    # team = "Gaimin Gladiators"
    leagues = ['The Lima Major',
            #    'DreamLeague Season 19',
            'The Berlin Major',
            #    'DreamLeague Season 20,
            'The Bali Major',
            "Riyadh Masters 2023",
            ]
    plt.figure(figsize=(12,5))
    plt.suptitle(f"Resultado por series : {team}")

    for i,l in enumerate(leagues,start=1):
        plt.subplot(1,len(leagues),i)
        dfTeam = df2.query("teamName == @team & leagueName == @l")
        sns.countplot(dfTeam,hue="serieResult",x="type",order=["bo1","bo2","bo3","bo5"],hue_order=["win","draw","lose"],palette=("#27AE60","#3498DB","#E74C3C"))
        plt.title(l)
        plt.yticks(np.arange(0,11,1))    
        plt.legend(title="Resultado",loc="upper right")
        plt.ylabel("Series")
        plt.xlabel("")

    plt.tight_layout()
    plt.savefig(f"series_{team}.pdf",format="pdf",dpi=120)

In [ ]:
for team in teams:
    generateChart(team)